[Unit]
Description=JupyterTesthub
After=syslog.target network.target

[Service]
User=root
SyslogIdentifier=testhub
Environment="PYTHONPATH=/u1/jupyterhub/testhub/jhub2"
Environment="PATH=/cds/sw/ds/dm/conda/envs/jhub-1.4.1/bin:/sbin/:/usr/bin/:/bin"
ExecStart=/cds/sw/ds/dm/conda/envs/jhub-1.4.1/bin/jupyterhub --config jupytertesthub_config.py
WorkingDirectory=/u1/jupyterhub/testhub/jhub2

[Install]
WantedBy=multi-user.target

