[Unit]
Description=Jupyterhub
After=syslog.target network.target

[Service]
User=root
Environment="PYTHONPATH=/u1/jupyterhub/jhub2"
Environment="PATH=/reg/g/psdm/sw/jupyterhub/miniconda3/envs/jhub/bin/:/sbin/:/usr/bin/:/bin"
ExecStart=/reg/g/psdm/sw/jupyterhub/miniconda3/envs/jhub/bin/jupyterhub
WorkingDirectory=/u1/jupyterhub/jhub2

[Install]
WantedBy=multi-user.target

